 *{
    font-family:"微軟正黑體", "Microsoft JhengHei",arial,sans-serif;
    font-size: 1vw;
     &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
}
.icon-warning{
    font-family:'icomoon' !important;
    .path1,.path2{
        font-family:'icomoon' !important;
    }
}
p{
    margin: 0;
}
 
.container{
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 525px 1fr;
    
}
.buyer{
    display: flex;
    flex-direction: column;
    .topinfomation{
        height: 55vh;
        display: flex;
        box-shadow: 0 6px 20px 0 #f2f2f2;
        z-index: 9;
    }
}
.bar{
    max-width: 90px;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .imgbox{
        padding: 20px;
        background-color: #000;
        div{
        height: 50px;
        width: 50px;
        background: url('../../imges/justin.png') no-repeat center;
        border-radius: 50%;
        background-size: cover;
        }
        
    }
    .menu{
        background-color: #ffca00;
        height: 100%;
        >div{
            position: relative;
            text-align: center;
            margin: 18px 0 ;
        }
        i{
            font-size: 30px;
        }
        span{
            display:inline-block;
            position: absolute;
            background-color: #ff0000;
            color:#fff;
            height: 15px;
            width: 15px;
            font-size: 12px;
            line-height: 15px;
            border-radius: 50%;
        }
    }
}
.button{
    cursor: pointer;
    word-break: keep-all;
    background-color: #dedcdb;
    padding: 20px;
    text-align: center;
    &.active{
        background-color: #ff8f00;
        color: #ffffff;
    }
}
.itemcontent{
    padding: 20px;
    overflow-y: auto;
    
}
.album{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .swiper-container{
        margin: 0;
    }
    .gallery-top,.gallery-top-2{
        max-width: 270px;
        width: 100%;
        .swiper-slide{
            width: 100%;
            height: 250px;
            background-color: #ff8f00;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    .gallery-thumbs , .gallery-thumbs-2{
        max-width: 85px;
        width: 100%;
        max-height: 250px;
        .swiper-slide{
            width: 100%;
            height: 250px;
            background-color: #ff8f00;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}


.context{
    .itemname{
        font-size: 20px;
        font-weight: bold;
        margin:  1rem 0 0.5rem 0 ;
        
    }
}
.pricecontent{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 20px;
    span{
        display: inline-block;
        margin-right: 5px;
        i{
            text-decoration: line-through;
            font-style: normal;
        }
    }
    p{
        margin: 0;
        font-size: 18px;
        color: #ff0000;
        font-weight: bold;
    }
}
.itemintro{
    color: #707070;
}
.buyermessage{
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .fbcontent{
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .personbox{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .imgbox{
            width: 40px;
            height: 40px;
            background-color: #ff8f00;
            border-radius: 50%;
            margin-right: 5px;
            background: url('../../imges/head.jpg') no-repeat center; 
            background-size: cover;
        }
    }
    .fbtextbox{
        display: flex;
        padding: 10px;
        background-color: #f7f7f7;
        border-radius: 30px;
        p{
            margin: 0;
        }
        a{
            font-weight: bold;
            color: #416090;
            text-decoration: none;
            margin-right: 5px;
        }
    }
}

.messagebox{

    height: 55px;
    background-color: #e0e2e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
    .imgbox{
        height: 100%;
        max-width: 90px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        >div{
            margin: auto 0;
            max-height: 40px;
            height:100%;
            max-width: 40px;
            width: 100%;
            background: url('../../imges/justin.png') no-repeat center;
            border-radius: 50%;
            background-size: cover;
        }
        
    }
    .typebox{
        width: 100%;
        margin: 0 10px;
         input{ 
            box-sizing: border-box;
            width: 100%;
            border: 0;
            outline: 0;
            border-radius: 50px;
            padding: 8px 15px;
            
        }
    }
}

// 右邊

.video{
    width: 100%;
    height: 100%;
    background: url('../imges/lady.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    img{
        width: 100%;
        height: 100%;

    }
    .timecoount{
        float: right;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        padding: 15px 30px;
        border-radius: 15px;
        margin: 50px 50px 0 0 ;
        span{
            color: #ff0000;
            font-weight: bold;
            margin-right: 10px;
        }
    }
    .livealarm{
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
        display: flex;
        background-color: #fff;
        border-radius: 15px;
        span:nth-of-type(1){
            background-color: #ec4340;
            color: white;
            letter-spacing: 6px;
            text-align: center;
            padding: 10px;
            border-radius: 15px;
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
        }
        p{
            display: flex;
            align-items: center;
            margin-left: 20px;
            color: #585858;
            width: 100%;
        }
        .fa-eye{
            display: flex;
            align-items: center;
            margin-right: 15px;
            color: #696969;
            &::before{
                margin: 2px 5px 0 0 ;
            }
        }
    }

}


.previously{
    >span{
        color: #747474;
        display: inline-block;
    }
    .imgbox{
        flex-basis: 45%;
        width: 100%;
        position: relative;
        img{
            height: 100%;
            width: 100%;
        }
        a:hover p{
            opacity: 1;;
            transition: all .7s;
        }
        p{
            opacity:0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            height: 90%;
            width: 90%;
            text-decoration: none;
            color:#fff;
            background-color: rgba(0, 0, 0, 0.58);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .7s;
        }
    }
    .previouslybox{
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #979797;
    }
    .textbox{
        margin-left: 1vw;
        display: flex;
        flex-direction: column;
        p{
            margin-bottom: 5px;
            &:nth-of-type(1){
                font-size: 1.1vw;
                font-weight: bold;
                margin-bottom: 20px;
            }
            &:last-of-type{
                display: flex;
                margin-top: auto;
                font-weight: bold;
                font-size: 1.1vw;
                color: #ff0000;
                margin-bottom: 0;
            }
        }
    }
}

.topinfo{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: white;
        font-size: 13px;
        background-color: #ff8f00;
        padding: 4px 20px;
        display: flex;
        align-items: center;
        border-radius: 20px;
    }
    span{
        color: #747474;
        font-size: 14px;
    }
}