$yellow:#ffca00;



.left{
    display: flex;
}
.container{
    padding: 0;
    display: flex;
    height: 100vh;
}
.menubar{
    position: relative;
    width: 90px;
    display: flex;
    justify-content: center;

    img{
        width: 225px;
        transform: rotate(90deg);
        position: absolute;
        top: 100px;
        left: -65px;
    }
    span{
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 2px;
        width: 20px;
        display: block;
        position: absolute;
        background-color: #000;
        top:260px;
        &::after{
            content: "";
            height: 2px;
            width: 20px;
            top: 4px;
            display: block;
            position: absolute;
            background-color: #000;
        }
    }
}
.topbar{
    display: grid;
    grid-template-columns: 140px 345px;
    background: $yellow;
    height: 100px;
}
.userphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    div{
       border-radius: 50%;
        background-color: #fff;
        height: 50px;
        width: 50px;
    }
   
}
.editbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    span{
        border-radius: 50%;
        background-color: #000;
        height: 50px;
        width: 50px;
        margin: 0 15px;
        font-size: 50px;
    }

}
.relative{
    position: relative;
    background-color:  #f7f7f7;
}
.editcontent{
    z-index: 9;
    height: calc( 100% - 100px );
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    transition: all 1s;
    >div{
        padding: 50px 30px 0;
    }
}
.grid{
    display: grid;
    grid-template-columns:120px 1fr;
}
.readyblock{
    border-bottom: 1px solid #999;
    padding-bottom: 14px;
    span{
        border: 1px solid #979797;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 40px;
        font-family: PingFangTC;
        font-size: 15px;
        color: #4e4e4e;
    }
    p{
        margin: 0;
        display: flex;
        align-items: center;
        font-family: PingFangTC;
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
    }
}
::placeholder {
  color: black;
  opacity: 1;
}
.mainiput{
    position: relative;
    margin-top: 18px;
    >i{
       position: absolute;
        right: 10px;
        top: 18px;
        font-size: 18px;
    }
    input{
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color: #f2f2f2;
        height: 50px;
        padding: 20px;
    }
    div{
        display: flex;
        align-items: center;
        font-family: PingFangTC;
        font-size: 17px;
        letter-spacing: 0.14px;
        color: #505050;
    }

    .buttonarea{
    position: relative;
    background-color:#f2f2f2;
    height: 50px;
    display:flex;
    span{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        flex-basis: 50%;
        height: 100%;
        text-align: center;
        color: #bcbcbc;
        i{
            font-family: PingFangTC;
            font-size: 12px;
            letter-spacing: 0.08px;
            text-align: center;
            color: #bcbcbc;
        }
        &.active{
            color: black;
            i{
                color: black;
            }
        }
    }
    .minititle{
        display: flex;
        flex-direction: column;
    }
    s{
        background-color:$yellow;
        height: 100%;
        width: 50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.7s ;
        &.active{
            transition: all 0.7s ;
            left: 50%;
        }
    }
}
}
.maintextarea{
    div{
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
    }
    span{
        font-family: PingFangTC;
        font-size: 12px;
        letter-spacing: 0.08px;
        color: #bcbcbc;
        margin-top: 10px;
    }
    textarea{
        height: 100px;
        padding: 15px;
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color:#f2f2f2;
        resize:none;
        font-size: 14px;
    }
}
.savebutton{
    padding: 18px;
    border: 1px solid #989898;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 20px;
    font-size: 17px;
    color: #6d6d6d;
    cursor: pointer;
    margin-top: 40px;
}

.right{
    width: 100%;
    background-color: #f7f7f7;
    >div{
        margin: 50px 20px 0; 
    }
}
.product{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px grey;
    >div{
        display: flex;
    }
     h3{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
    }
}
.productinfo{
    background-color:  #f7f7f7;
    padding: 10px;
    margin-top: 15px;
}

.productgrid{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 45px;
    >div{
        display: flex;
        align-items: center;
    }
    .disable{
    display: none;
    font-size: 12px;
    color: #505050;
    width: 120px;
    }
    p ,span{
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #505050;
        display: flex;
        align-items: center;
        
    }
    .pl{
        padding-left: 5px;
    }
    input{
        padding-left: 5px;
        height: 30px;
        width: 120px;
        border: 0;
        outline: 0;
        margin: auto;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #505050;
    }
}
.productinfotop{
    position: relative;
    grid-template-rows: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    p{
      color: #24253d;
    font-size: 16px;
    }
    i{
        width: 17px;
        display: flex;
        align-items: center;
        height: 20px;
        position: absolute;
        right: 0;
    }
}
.productbutton{
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-column-gap: 8px;
    margin-top: 35px;
    margin-bottom: 20px;
   span{
    font-family: PingFangTC;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #ff9620;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    &:nth-last-of-type(1){
         background-color: #b31b00;
    }
   }
}
.number{
    position: relative;
    span{
        position: absolute;
        height: 100%;
        font-size: 13px;
        width: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        
    }
    .icon-plus-sign-in-a-black-circle{
        left: 0px;
        &::before{
            color: rgb(224, 224, 225);
        }

        &.hover{
            &::before{
            color: #fd5739;
            }
        }
    }
    .icon-mines{
        right: 0px;
         &.hover{
             .path1::before{
            color: #fd5739;
            }
            
        }
    }
    .path2{
        top: 8px;
        font-size: 16px;
        transform: rotate(90deg);
    }
    input{
        text-align: center;
    }
}
.productcontent{
    position: relative;
    width: 400px;
    height: 100%;
    margin-left: 35px;
    margin-right: 10px;
    display: flex;
    >div{
        margin-right: 5px;
        padding-top: 2px;
        padding-left: 2px;
    }
    .icon-plus-sign-in-a-black-circle{
        cursor: pointer;
        position: absolute;
        right: -20px;
        font-size: 18px;
        &::before{
            color: #ff0000;
        }
    }
}
.imgbox{
    height: 88px;
    background-color: orange;
    img{
        width: 100%;
        height: 100%;
    }
}
.productbox{
    outline: 1px solid #ececec;
    &.active{
        outline-width: 2px;
        outline-color: red;
    }
}
.contentbox{
    margin-bottom: 10px;
    p,span{
        line-height: 12px;
        margin: 0;
        font-family: PingFangTC;
        font-size: 12px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }
    
    padding: 15px 10px;
    >div{
        display: flex;

    }
    .contenttitle{
    font-family: PingFangTC;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
    font-weight: 600;
    }
}


.game{

    margin-top: 30px;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 6px grey;
     h3{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
        margin-bottom: 15px;
    }

}
.gamebox{
    max-width: 200px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin-right:  10px;
}
.gameready{
    position: relative;
    span{
        display: block;
        text-align: center;
        width: 50px;
        color: #fff;
        font-size: 12px;
        padding:  0px;
        border-radius: 50px;
        background-color: #ff0000;
    }
    .live{
        background-color: #ff9620;
    }
    .end{
        background-color: #cec9c9;
        color:black; 
    }

    div{
        float:right;
    }
}
.gametitle{
    margin-top: 10px;
    p{
            white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
         color: #24253d;
         margin: 0;
         padding-bottom: 5px;
         border-bottom: 1px solid #e3e3e3;
         margin-bottom: 10px;
    }
}
.gamegrid{
    display: grid;
    grid-template-columns: 70px 100px;
    grid-template-rows: 35px;
    margin-bottom: 5px;
    input{
        border: 0;
        outline: 0;
        font-size: 12px;
        padding-left: 10px;
    }
    span{
        font-size: 14px;
        display: flex;
        align-items: center;
    }
}
.flex{
    display: flex;
}
.emo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    img{
        height: 15px;
        width: 15px;
        margin-right: 15px;
    }
    >div{
        display: flex;
        background-color: #fff;
        align-items: center;
        padding: 8px;
        margin-bottom: 5px;
        font-size: 12px;
    }
}
.ready{
    visibility: hidden;
}
.gamewidth{
    width: 640px;
}
.gamecontent{
    position: relative;
    >span{
        cursor: pointer;
        position: absolute;
        right: -15px;
        font-size: 18px;
        &::before{
            color: #ff0000;
        }
    }
}
.mainbutton{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    div{
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        padding: 20px 55px;
        border-radius: 50px;
        margin: 0 5px;
        color: #fff;
        background-color: $yellow;
        &:nth-last-of-type(1){
            background-color: #ff0000;
        }
    }
    
}





.newitem{
    padding: 44px 60px;
    >p{
        margin: 0;
        font-family: PingFangTC;
        font-size: 26px;
        font-weight: 600;
    }
    >span{
        margin: 0;
        font-family: PingFangTC;
        font-size: 14px;
        font-weight: 600; 
        display: block;
        margin-bottom: 15px;
    }
    .select{
        display: flex;
        select{
            width: 175px;
            margin-right: 13px;
            outline: 0;
            border: 0;
            background-color: #ececec;
            padding: 8px 15px ;
        }

        input{
             outline: 0;
            border: 0;
            background-color: #ececec;
            
            padding: 8px 15px ;
        }
        
    }
}
.mdbody{
    margin-top: 10px;
    padding: 20px;
    border: solid 1px #ececec;
}
.mdgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.itembox{
  height: 90px;
  border: solid 1px #ececec;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .itemimg{
      background-color: olive;
      img{
          width: 100%;
          height: 100%;
      }
  }
  .itemtext{
        align-self: center;
        display: flex;
        flex-direction: column;
      p{
        font-family: PingFangTC;
        font-size: 14px;
        margin: 0;
        padding: 0 0 5px 16px;
      }
      span{
        padding: 0 0 2px 16px;
        font-family: PingFangTC;
        font-size: 12px;
      }
  }
}
.strat{
    max-width: 378px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    p{
      font-family: PingFangTC;
        font-size: 26px;
        font-weight: bold;   
    }
    span{
        text-align: center;
        font-size: 100px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .stratbutton{
        display: flex;
        justify-content: center;
        div{
            cursor: pointer;
            margin: 3px;
            font-size: 18px;
            color: #fff;
            padding: 12px 45px;
            background-color: orange;
            border-radius: 50px;
            margin-bottom: 50px;
            &:nth-last-of-type(1){
                background-color: #ff0000;
            }
        }
    }
}
.gamemodal{
    margin: 40px 50px;
}
.gamemodeltitle{
    p{
        margin: 0;
        font-size: 26px;
        font-weight: bold;

    }
    select{
        margin-top: 6px;
        border: 0;
        outline: 0;
        background-color: #ececec;
        padding: 8px 20px ;
          color: #24253d;
    }
}
.gamebutton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7px;
    grid-template-rows: 50px;
    margin-top: 30px;
    >div{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: 18px;
        color: #fff;
        background-color: orange;
        &:nth-last-of-type(1){
            background-color: #ff0000;
        }
    }
}
.t1,.t4{
    cursor: pointer;
    top: 45%;
    z-index: 9;
    position: absolute;
    right: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 15px;
    border-color: transparent transparent transparent #909090;
}
.t4{
    right: -22px;
}
.t2,.t3{
    cursor: pointer;
    top: 45%;
    z-index: 9;
    position: absolute;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 15px 7.5px 0px;
    border-color: transparent  #909090 transparent  transparent;
}

.swiper-button-disabled{
    visibility: hidden;
}

.gamecontentbase{
    span{
        display: block;
        font-family: PingFangTC;
        font-size: 14px;
        color: #505050;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
    }
    .option{
        display: grid;
        grid-template-columns: 80px 1fr;
        margin-bottom: 6px;
        p{
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 0;
            color: #505050;

        }
        input{
            border: 0;
            outline: 0;
            background-color: #ececec;
            font-size: 12px;
            color: #505050;
            padding: 10px;
        }   
    }
     .gametext{
            p{
                font-size: 14px;
                color: #505050;
                margin-bottom: 5px;
            }
            textarea{
                resize: none;
                background-color: #ececec;
                font-size: 12px;
                color: #000000;
                padding: 15px 20px;
                height: 70px;
                width: 100%;
                border: 0;
                outline: 0;
            }
    }
    .emotion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 7px;
        grid-column-gap: 45px;
        div{
            display: flex;
            align-items: center;
            input{
            width: 100%;
            margin-left: 10px;
            border: 0;
            outline: 0;
            background-color: #ececec;
            font-size: 12px;
            color: #505050;
            padding: 10px;
            }   
            img{
                height: 23px;
                width: 23px;  
                margin-right: 12px; 
            }
        }
    }
}

.gamecontent_1,.gamecontent_2,.gamecontent_3,.gamecontent_4{
    display: none;
}

.mr{
    margin-right: 6px;
}
.container{
    max-width: 1350px;
}
.icon-pencil,.icon-cancel-button{
    cursor: pointer;
}
.livebutton{
    display: none;
}

// 直播前的元件隱藏

.fbcontent{
    background-color: #fff;
    padding-top: 5px;
    display: grid;
    grid-template-rows: 1fr 50px;
    .fbgrid{
        display: grid;
        grid-template-columns: 1fr 185px;
    }
    .fbiframe{
        width: 100%;
    }
    .fborder{
        p{
            font-size: 12px;
            color: #24253d;
        }
    }
}
.fbheadphote{
    margin: 0 10px 0 25px;
    height: 36px;
    width: 36px;
    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}
.fbmessage{
    height: 50px;
    width: 100%;
    background-color: #e0e2e5;
    display: flex;
    align-items: center;
    .message{
        padding: 6px 25px;
        font-size: 12px;
        color: #505050;
        border-radius: 50px;
        border: 0;
        outline: 0;
        height: 32px;
        font-family: PingFangTC;
        width: 100%;
        margin-right: 30px;
    }
}
.livecentent{
    position: absolute;
    left: 0;
    height: calc( 100% - 100px );
    >div{
        padding: 7px 0px 20px 9px;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 10px;
    }
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #f7f7f7;
        top: 0;
        left: 0;
        right: 0;
        border-top: 0;
    }
    header {
        background-color: #fe9191;
        div{
        font-family: PingFangTC;
        font-size: 16px;
        color: #fff;
        padding: 10px 0;
            &:nth-of-type(1){
                margin-left: 30px;
            }
            
        }
    }
    main{
        &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
        max-height: 250px;
        overflow-y: auto;
        >div{
            background-color: #f6f6f6;
            &:nth-of-type(odd){
            background-color: #fff;
            }
            >div{
                padding: 12px 0;
            }
        }
    }
    footer{
        padding: 18px 38px;
        background-color: #fff;
        div{
            text-align: center;
            width: 100%;
            font-size: 17px;
            font-family: PingFangTC;
            color: #6d6d6d;
            padding: 5px;
            cursor: pointer;
            border: 1px solid #989898;
            border-radius: 30px;
            
        }
    }
    main .buygrid > div:nth-of-type(1){
         margin-left: 30px;
    }
   .buyListEdit{
    
    >span{
        display: flex;
        justify-content: center;
    }
    i{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    
}

.buygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.productinfotop{
    grid-column-gap: 25px;
    span{
    display: none;
    font-family: PingFangTC;
    font-size: 12px;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 50px;
    background-color: #ff0000;
    }
}

.productstarttime{
    display: none;
    margin-top: 15px;
   
    justify-content: flex-end;
    div{
        cursor: pointer;
        color: #fff;
        font-size: 12px;
        background-color: #ff9620;
        padding: 6px 5px;
        border-radius: 10px;
        margin: 0 3px; 
        &:nth-last-of-type(1){
             background-color:#b31b00;
        }
    }
}
.productbutton{
    div{
        display: none;
        cursor: pointer;
        color: #fff;
        font-size:12px;
        padding: 8px;
        width: 100%;
        background-color: #73a3dd;
        border-radius: 10px;
        text-align: center;
    }
}


.imgbox{
    position: relative;
    span{
    display: none;
    font-family: PingFangTC;
    font-size: 12px;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 50px;
    background-color: #ff0000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    }
}

// 開始直播
.startbody{
 .productinfotop span{
     display: inline-block;
 }
 .productstarttime{
     display: flex;
 }
 .productbutton{
     margin: 10px 0 15px 0;
     grid-template-columns: 1fr;
     div{
         display: block;
     }
     span{
         display: none;
     }
 }
 .productbox.active{
    .imgbox span{
        display: block;
    } 
 }
 .livebutton{
     display: flex;
 }
 .endbutton{
     display: none;
 }
 .livecentent::after{
     display: none;
 }
 .enable{
    display: none;
 }
 .disable{
     display: flex;
 }
}