$yellow:#ffca00;
$right:88px;
$margin:5px;
$box-shadow:0 6px 20px 0 #ececec;

body{
    font-family:"微軟正黑體", "Microsoft JhengHei",arial,sans-serif;
    font-size: 14px;
}

.drp-calendar.right{
        width: unset;
        background-color: #fff;
        >div{
            margin: 0;
        }
    }

.left{
    display: flex;
}
.gamecontent{
    .typetimestart,.typetimeend,.typetimeclean{
    width: 88px;
    display: inline-block;
        top: 0px;
    padding: 4px 8px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;


    }
    
    .typetimestart{
        background-color: #cc7373;
        right: ($right*2)+($margin*3);
    }
    .typetimeend{
        background-color: #323232;
        right:$right+($margin*2);
    }
    .typetimeclean{
        background-color: #7aacc2;
        right: $margin;
    }
}

.container{

    padding: 0;
    display: flex;
    height: 100vh;
}
.menubar{
    position: relative;
    width: 90px;
    display: flex;
    justify-content: center;

    img{
        width: 225px;
        transform: rotate(90deg);
        position: absolute;
        top: 100px;
        left: -65px;
    }
    span{
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 2px;
        width: 20px;
        display: block;
        position: absolute;
        background-color: #000;
        top:260px;
        &::after{
            content: "";
            height: 2px;
            width: 20px;
            top: 4px;
            display: block;
            position: absolute;
            background-color: #000;
        }
    }
}
.topbar{
    display: grid;
    grid-template-columns: 140px 345px;
    background: $yellow;
    height: 65px;
    
}
.userphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
       border-radius: 50%;
        background-color: #fff;
        background: url(../../imges/head.jpg) no-repeat center;
        background-size: cover;
        height: 35px;
        width: 35px;
    }
   
}
.editbutton{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    span{
        cursor: pointer;
        border-radius: 50%;
        background-color: #000;
        height: 30px;
        width: 30px;
        margin: 0 25px;
        font-size: 30px;
    }

}
.relative{
    position: relative;
    background-color:  #f7f7f7;
}
.editcontent{
    z-index: 9;
    // height: calc( 100% - 100px );
    background-color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    transition: all 1s;
    >div{
        padding: 20px 30px 0;
    }
}
.grid{
    display: grid;
    grid-template-columns:120px 1fr;
   
}
.readyblock{
    border-bottom: 1px solid #999;
    padding-bottom: 14px;
    span{
        border: 1px solid #979797;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 40px;
        
        font-size: 15px;
        color: #4e4e4e;
    }
    input{
        border: 0;
        outline: 0;
        margin: 0;
        display: flex;
        align-items: center;
        
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
    }
}
::placeholder {
  color: black;
  opacity: 1;
}
.mainiput .date{
    position: relative;
    padding: 12px 5px 12px 20px;
    &::-webkit-calendar-picker-indicator{
    color: transparent;
    background: none;
    z-index: 1;
  }
  &::before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'icomoon';
  content: '\e903';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: #999;
  }
}

.mainiput{
    position: relative;
    margin-top: 15px;
    >i{
       position: absolute;
        right: 10px;
        top: 11px;
        font-size: 18px;
    }
    input{
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color: #f2f2f2;
        height: 40px;
        padding: 20px;
    }
    div{
        display: flex;
        align-items: center;
        
        font-size: 14px;
        letter-spacing: 0.14px;
        color: #505050;
    }

    .buttonarea{
    position: relative;
    background-color:#f2f2f2;
    height: 40px;
    font-size: 14px;
    display:flex;
    span{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
        flex-basis: 50%;
        height: 100%;
        text-align: center;
        color: #bcbcbc;
        font-size: 12px;
        i{
            
            font-size: 12px;
            letter-spacing: 0.08px;
            text-align: center;
            color: #bcbcbc;
        }
        &.active{
            color: black;
            i{
                color: black;
            }
        }
    }
    .minititle{
        display: flex;
        flex-direction: column;
    }
    s{
        background-color:$yellow;
        height: 100%;
        width: 50%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.7s ;
        &.active{
            transition: all 0.7s ;
            left: 50%;
        }
    }
}
}
.maintextarea{
    div{
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
    }
    span{
        
        font-size: 12px;
        letter-spacing: 0.08px;
        color: #bcbcbc;
        margin-top: 10px;
    }
    textarea{
        height: 100px;
        padding: 15px;
        border: 0;
        outline: 0;
        box-shadow: none;
        background-color:#f2f2f2;
        resize:none;
        font-size: 14px;
    }
}
.savebutton{
    padding: 18px;
    border: 1px solid #989898;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 20px;
    font-size: 17px;
    color: #6d6d6d;
    cursor: pointer;
    margin-top: 40px;
}

.right{
    width: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
    >div{
        margin: 15px 20px 0; 
    }
}

.product{
   
   
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: $box-shadow;
    >div{
        display: flex;
    }
     h3{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
    }
}
.productinfo{
    background-color:  #f7f7f7;
    padding: 10px;
    margin-top: 10px;
}

.productgrid{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 30px;
    margin-bottom: 5px;
    >div{
        display: flex;
        align-items: center;
    }
    .disable{
    display: none;
    font-size: 12px;
    color: #505050;
    width: 120px;
    }
    p ,span{
        margin: 0;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #505050;
        display: flex;
        align-items: center;
        
    }
    .pl{
        padding-left: 5px;
    }
    input{
        padding-left: 5px;
        height: 100%;
        width: 120px;
        border: 0;
        outline: 0;
        margin: auto;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: #505050;
    }
}
.productinfotop{
    position: relative;
    grid-template-rows: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    p{
      color: #24253d;
    font-size: 16px;
    }
    i{
        width: 17px;
        display: flex;
        align-items: center;
        height: 20px;
        position: absolute;
        right: 0;
    }
}
.productbutton{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 70px;
    grid-column-gap: 8px;
    margin-top: 35px;
    margin-bottom: 20px;
   span{
    
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #ff9620;
    border-radius: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    &:nth-last-of-type(1){
         background-color: #b31b00;
    }
   }
}
.number{
    position: relative;
    span{
        position: absolute;
        height: 100%;
        font-size: 13px;
        width: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        
    }
    .icon-plus-sign-in-a-black-circle{
        left: 0px;
        &::before{
            color: rgb(224, 224, 225);
        }

        &.hover{
            &::before{
            color: #fd5739;
            }
        }
    }
    .icon-mines{
        right: 0px;
         &.hover{
             .path1::before{
            color: #fd5739;
            }
            
        }
    }
    .path2{
        top: 8px;
        font-size: 16px;
        transform: rotate(90deg);
    }
    input{
        text-align: center;
    }
}
.hde{
    overflow: hidden;
}
.modal-content{
    border: 0;
    border-radius: 30px;
}
.productcontent{
    // overflow: hidden;
    .swiper-slide{
        max-width: 140px;
        min-width: 140px;
        width: 100%;
    }
    position: relative;
    width: auto;
    height: 100%;
    margin-left: 35px;
    margin-right: 10px;
    display: flex;
    .swiper-product{
        margin-right: 0px;
        padding: 2px;
    }
    .icon-plus-sign-in-a-black-circle{
        cursor: pointer;
        position: absolute;
        right: -20px;
        font-size: 18px;
        &::before{
            color: #ff0000;
        }
    }
}
.imgbox{
    height: 75px;
    background-color: orange;
    img{
        width: 100%;
        height: 100%;
    }
}
.productbox{
    outline: 1px solid #ececec;
    &.active{
        outline-width: 2px;
        outline-color: red;
    }
    &.active2{
        outline-width: 2px;
        outline-color:$yellow;
    }
}
.contentbox{
    margin-bottom: 10px;
    p,span{
        line-height: 12px;
        margin: 0;
        
        font-size: 12px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }
    
    padding:10px;
    >div{
        display: flex;

    }
    .contenttitle{
    
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
    font-weight: 600;
    }
}


.game{
    

    margin-top: 15px;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 20px;
    box-shadow: $box-shadow;
     h3{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.17px;
        color: #24253d;
        margin-bottom: 15px;
    }

}
.gamebox{
    max-width: 200px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin-right:  10px;
}
.gameready{
    position: relative;
    span{
        display: block;
        text-align: center;
        width: 50px;
        color: #fff;
        font-size: 12px;
        padding:  0px;
        border-radius: 50px;
        background-color: #b31b00;
    }
    .live{
        background-color: #ff9620;
    }
    .end{
        background-color: #cec9c9;
        color:black; 
    }

    div{
        float:right;
    }
}
.gametitle{
    margin-top: 10px;
    p{
            white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
         color: #24253d;
         margin: 0;
         padding-bottom: 5px;
         border-bottom: 1px solid #e3e3e3;
         margin-bottom: 10px;
    }
}
.gamegrid{
    display: grid;
    grid-template-columns: 70px 100px;
    grid-template-rows: 35px;
    margin-bottom: 5px;
    input{
        border: 0;
        outline: 0;
        font-size: 12px;
        padding-left: 10px;
    }
    span{
        font-size: 14px;
        display: flex;
        align-items: center;
    }
}
.flex{
    display: flex;
}
.emo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    img{
        height: 15px;
        width: 15px;
        margin-right: 15px;
    }
    >div{
        display: flex;
        background-color: #fff;
        align-items: center;
        padding: 8px;
        margin-bottom: 5px;
        font-size: 12px;
    }
}
.ready{
    visibility: hidden;
}
.swiper-container{
    margin: 0;
}
.gamecontent{
    position: relative;
    >span{
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 3px;
        font-size: 18px;
        &::before{
            color: #ff0000;
        }
    }
}
.mainbutton{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    div{
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        padding: 20px 55px;
        border-radius: 50px;
        margin: 0 5px;
        color: #fff;
        background-color: #ff9620;
        &:nth-last-of-type(1){
            background-color: #b31b00;
        }
    }
    
}


.fixedbutton{
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 9;
}


.newitem{
    padding: 25px 40px;
    >p{
        margin: 0;
        
        font-size: 26px;
        font-weight: 600;
    }
    >span{
        margin: 0;
        
        font-size: 14px;
        font-weight: 600; 
        display: block;
        margin-bottom: 15px;
    }
    .select{
        display: flex;
        select{
            width: 175px;
            margin-right: 13px;
            outline: 0;
            border: 0;
            background-color: #ececec;
            padding: 8px 25px ;
        }

        input{
             outline: 0;
            border: 0;
            background-color: #ececec;
            padding: 8px 25px ;
            &::placeholder{
                color: #acacac;
            }
        }
        
    }
    .mainbutton div{
        padding: 10px 30px;
    }
}
.mdbody{
    margin-top: 10px;
    padding: 20px;
    border: solid 1px #ececec;
}
.mdgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.itembox{
  height: 90px;
  border: solid 1px #ececec;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .itemimg{
      background-color: olive;
      img{
          width: 100%;
          height: 100%;
      }
  }
  .itemtext{
        align-self: center;
        display: flex;
        flex-direction: column;
      p{
        
        font-size: 14px;
        margin: 0;
        padding: 0 0 5px 16px;
      }
      span{
        padding: 0 0 2px 16px;
        
        font-size: 12px;
      }
  }
}
.strat{
    max-width: 378px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    p{
      
        font-size: 26px;
        font-weight: bold;   
    }
    span{
        text-align: center;
        font-size: 100px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .stratbutton{
        display: flex;
        justify-content: center;
        div{
            cursor: pointer;
            margin: 3px;
            font-size: 18px;
            color: #fff;
            padding: 12px 45px;
            background-color: #ff9620;
            border-radius: 50px;
            margin-bottom: 50px;
            &:nth-last-of-type(1){
                background-color: #b31b00;
            }
        }
    }
}
.gamemodal{
    margin: 30px 50px;
}
.gamemodeltitle{
    p{
        margin: 0;
        font-size: 26px;
        font-weight: bold;

    }
    select{
        margin-top: 6px;
        border: 0;
        outline: 0;
        background-color: #ececec;
        padding: 8px 20px ;
          color: #24253d;
    }
}
.gamebutton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 7px;
    grid-template-rows: 50px;
    margin-top: 30px;
    >div{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: 18px;
        color: #fff;
        background-color: #ff9620;
        &:nth-last-of-type(1){
            background-color: #b31b00;
        }
    }
}
.t1,.t4{
    cursor: pointer;
    top: 45%;
    z-index: 9;
    position: absolute;
    right: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 15px;
    border-color: transparent transparent transparent #909090;
}
.t4{
    right: -22px;
}
.t2,.t3{
    cursor: pointer;
    top: 45%;
    z-index: 9;
    position: absolute;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 15px 7.5px 0px;
    border-color: transparent  #909090 transparent  transparent;
}

.swiper-button-disabled{
    visibility: hidden;
}

.gamecontentbase{
    span{
        display: block;
        
        font-size: 14px;
        color: #505050;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
    }
    .option{
        display: grid;
        grid-template-columns: 80px 1fr;
        margin-bottom: 6px;
        p{
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 0;
            color: #505050;

        }
        input{
            border: 0;
            outline: 0;
            background-color: #ececec;
            font-size: 12px;
            color: #505050;
            padding: 10px;
        }   
    }
     .gametext{
            p{
                font-size: 14px;
                color: #505050;
                margin-bottom: 5px;
            }
            textarea{
                resize: none;
                background-color: #ececec;
                font-size: 12px;
                color: #000000;
                padding: 15px 20px;
                height: 70px;
                width: 100%;
                border: 0;
                outline: 0;
            }
    }
    .emotion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 7px;
        grid-column-gap: 45px;
        div{
            display: flex;
            align-items: center;
            input{
            width: 100%;
            margin-left: 10px;
            border: 0;
            outline: 0;
            background-color: #ececec;
            font-size: 12px;
            color: #505050;
            padding: 10px;
            }   
            img{
                height: 23px;
                width: 23px;  
                margin-right: 12px; 
            }
        }
    }
}

.gamecontent_1,.gamecontent_2,.gamecontent_3,.gamecontent_4{
    display: none;
}

.mr{
    margin-right: 6px;
}
.container{
    max-width: 100%;
}
.icon-pencil,.icon-cancel-button{
    cursor: pointer;
}
.livebutton{
    display: none;
}

// 直播前的元件隱藏

.fbcontent{
    background-color: #fff;
    padding-top: 5px;
    display: grid;
    grid-template-rows: 300px 50px;
     margin-bottom: 5px;
    .fbgrid{
        display: grid;
        grid-template-columns: 1fr 185px;

    }
    .fbiframe{
        width: 100%;
        max-height: 300px;
        height: 100%;
        position: relative;
        img{
            width: 100%;
            height: 100%;

        }
        a{
            position: absolute;
            text-decoration: none;
            color: gray;
            background-color: #fff;
            padding: 5px 20px;
            border-radius: 50px;
            bottom: 15px;
            right: 5px;
            &:hover{
                color: black;
            }

        }
    }
    .fborder{
         &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
        max-height: 300px;
        overflow-y: auto;
       >p{
            font-size: 12px;
            color: #24253d;
            text-decoration: none;
            margin: 5px 0px;
            text-align:center;
            i{
                font-size: 12px;
                color: white;
                background-color: #fe5d5d;
                padding: 2px 8px;
                border-radius: 50%;
                margin: 0 5px;
            }
        }
    }
}
.fbheadphote{

    margin: 0 10px 0 25px;
    height: 36px;
    width: 47px;
    background: url('../../imges/head.jpg') no-repeat center;
    background-size: cover;
    border-radius: 50%;
}
.fbmessage{
    height: 50px;
    width: 100%;
    background-color: #e0e2e5;
    display: flex;
    align-items: center;
    .message{
        padding: 6px 25px;
        font-size: 12px;
        color: #505050;
        border-radius: 50px;
        border: 0;
        outline: 0;
        height: 32px;
        
        width: 100%;
        margin-right: 30px;
    }
}
.livecentent{
    position: absolute;
    left: 0;
    height: calc( 100% - 65px );
    >div{
        padding: 7px 0px 20px 9px;
        height: 100%;
        display: flex;
        flex-direction: column;
       
    }
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        border-top: 0;
    }
    header {
        background-color: #fe9191;
        div{
        
        font-size: 16px;
        color: #fff;
        padding: 10px 0;
            &:nth-of-type(1){
                margin-left: 30px;
            }
            
        }
    }
    main{
        &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
        max-height: 200px;
        overflow-y: auto;
        >div{
            background-color: #f6f6f6;
            &:nth-of-type(odd){
            background-color: #fff;
            }
            >div{
                padding: 12px 0;
            }
        }
    }
    footer{
        padding: 18px 38px;
        background-color: #fff;
        div{
            text-align: center;
            width: 100%;
            font-size: 17px;
            
            color: #6d6d6d;
            padding: 5px;
            cursor: pointer;
            border: 1px solid #989898;
            border-radius: 30px;
            letter-spacing: 20px;
        }
    }
    main .buygrid > div:nth-of-type(1){
         margin-left: 30px;
    }
   .buyListEdit{
    
    >span{
        display: flex;
        justify-content: center;
    }
    i{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
    
}

.buygrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.productinfotop{
    grid-column-gap: 25px;
    span{
    display: none;
    
    font-size: 12px;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 50px;
    background-color: #ff0000;
    }
}


.productbutton{
    div{
        display: none;
        cursor: pointer;
        color: #fff;
        font-size:12px;
        padding: 8px;
        width: 100%;
        background-color: #73a3dd;
        border-radius: 10px;
        text-align: center;
    }
}


.imgbox{
    position: relative;
    span{
    display: none;
    
    font-size: 12px;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 50px;
    background-color: #ff0000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    }
}
.ordermessage{
    position: relative;
    display: flex;
    margin: 10px 0;
    .orderbox{
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .ordername{
        display: flex;
        align-items: center;
        background-color: #f7f7f7;
        border-radius: 50px;
        padding: 5px 10px;  
        font-size: 14px;
        text-decoration: none;
        font-weight:bold;
        p{
            display: inline-block;
            margin: 0;
            font-size: 14px;
            color: #24253d;
        }
        a{
            text-decoration: none;
            margin-right: 2px;
        }
    }
    .ordertype{
        margin-left: 5px;
        height: 20px;
        font-size: 12px;
        color: white;
        background-color: #b31b00;
        padding: 2px 12px;
        border-radius: 50px;
        line-height: 18px;
        &.succes{
            background-color:#ff9620;
        }
    }
    .bigfan{
    font-size: 12px;
    display: block;
    padding:0 0px 12px 5px;
    position: relative;
    }
}

.orderimg{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: url(../../imges/head.jpg) no-repeat  center;
    border-radius: 50%;
    background-size: cover;
}
.remind{
    display: none;
    white-space: nowrap;
    position: relative;
    
  font-size: 12px;
  letter-spacing: 0.09px;
  color: #747474;
  i{
    left: -25px;
    position:absolute;
    font-size: 12px;
    color: white;
    background-color: #fe5d5d;
    padding: 0px 5px;
    border-radius: 50%;
    margin: 0 5px;
  }
}
 .startbody .productbutton div.timeend{      
    background-color: #c62424;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
 }



.change{
    >span{
        text-align: center;
        display: block;
        font-size: 70px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    >p{
      
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 0.22px;
        text-align: center;
        color: #000000;  
        margin:0 0 20px 0; 
    }

    .changeedit{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        >div{
            position: relative;
            
        }
        p{
            margin:0 20px 0px 0; 
            font-size: 12px;
            color: #505050;
        }
        
        input,select{
            text-align: center;
            width: 165px;
            border: 0;
            outline: 0;
            background-color: #ececec;
            color: #505050;
            padding: 10px 15px;
        }
        span{
            position: absolute;
            font-size: 20px;
            line-height: 45px;
        }
        .icon-plus-sign-in-a-black-circle{
            left: 5px;
             &::before{
            color: rgb(224, 224, 225);
            }

            &.hover{
                &::before{
                color: #fd5739;
                }
            }
        }
        .icon-mines{
            top: 0;
            right: 5px;
            .path1{
                right: 0;
            }
            .path2{
                top: 10px;
                right: 10px;
                transform: rotate(90deg);
            }
             &.hover{
            .path1::before{
            color: #fd5739;
            }
            
        }
        }
    }


    .changebutton{
        display: flex; 
        justify-content: center;
        margin: 50px 0 30px;
        div{

            &:nth-of-type(1){
                background-color:#ff9620;
            }
            cursor: pointer;
            margin: 0 5px;
            border-radius: 50px;
            color: white;
            font-size: 16px;
            padding: 6px 40px;
            background-color: #b31b00;
        }
        span{
            font-size: 15px;
        }
    }
}
// 開始直播
.startbody{
 .productinfotop span{
     display: inline-block;
 }

 .productbutton{
     margin: 10px 0 15px 0;
     grid-template-columns: 1fr;
     div{
         display: block;
     }
     span{
         display: none;
     }
 }
 .productbox.active{
    .imgbox span{
        // display: block;
    } 
 }
 .livebutton{
     display: flex;
 }
 .endbutton{
     display: none;
 }
 .livecentent::after{
     display: none;
 }
 .enable{
    display: none;
 }
 .disable{
     display: flex;
 }
 .remind{
     display: block;
      
 }
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲開始直播▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

// 直播列表
.nama{
    .editbutton{
        .icon-plus-sign-in-a-black-circle::before{
            color: white;
        }
        .icon-list::before{
            color: $yellow;
        }
    }
    .left{
        position: relative;
    }
    .relative{
        position: absolute;
        left: 90px;
    }
    .listcontainer{
       
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        .rightconerbutton{
            float: right;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .listcontent{
            margin-top: 15px;
            overflow-y:auto;
            max-height: 360px;
            box-shadow: $box-shadow;
            &::-webkit-scrollbar-track
            {	border-radius: 10px;
            	background-color: #F5F5F5;
            }

            &::-webkit-scrollbar
            {
            	width: 12px;
            	background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                border: 2px solid #f6f6f6;
            	background-color: #fff;
            }
        }
    }
}

.rightconerbutton{
    display: flex;
    div{
        cursor: pointer;
        color: black;
        padding: 10px 20px;
        width: 185px;
        height: 60px;
        margin: 0 5px;
        background: #fff;
        border: 1px solid #979797;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        font-size: 18px;
        &.active{
            background-color: #e17777;
            color: white;
        }
    }
}

.listsearchbar{
    margin-bottom: 15px;
    clear:both;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: $box-shadow;
    padding: 15px 30px;
    .fa-search{
        font-size: 22px;
        margin-right: 20px;
    }
    input{
        height: 30px;
        width: 100%;
        border: 0;
        outline: 0;
        font-size: 14px;
        color: #C0BFC5;
        border-right: 2px solid #ececec; 
        &::placeholder {
        color: #828282;
        }
    }
    p{
        width: 250px;
        position: relative;
        margin: 0;
        color: #828282;
        font-size: 20px;
        padding-left: 60px;
        .icon-calendar-with-a-clock-time-tools{
            position: absolute;
            left: 20px;
            font-size: 25px;
            bottom: 2px;
            cursor: pointer;
        }
    }
}
.listgrid{
    display: grid;
    grid-template-columns: 1fr 170px 170px 170px  1fr;
    background-color: white;
    box-shadow:$box-shadow;
    >div{
        
        margin: 20px 0;
        color: #555555;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        border-right: 1px solid #cacaca;
        &:nth-of-type(1){
            text-align: left;
            padding-left: 50px;
        }
        &:nth-last-of-type(1){
            border: 0;
            text-align: left;
            padding-left: 20px;
        }
    }

}
.listbody{
    box-shadow: none;
    border-bottom: 1px solid #ececec;

    p{
        margin: 0;
    }
    div{
        border: 0;
        &:nth-of-type(3),&:nth-of-type(2){
            color: #C0BFC5;
        }
        &:nth-of-type(4){
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 20px;
        }
         &:nth-last-of-type(1){
             padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲直播列表▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

// 歷史紀錄
.history{
    .listgrid{
        grid-template-columns: 1fr  170px 170px 170px 170px  1fr;
    }
    .listbody{
       .icon-list::before{
           color: #9b9a9a;
       }
        div{
            color: black;
            &:nth-of-type(3),&:nth-of-type(5){
            color: #C0BFC5;
            }
            &:nth-of-type(4){
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            .imgbox{
                background: url(../../imges/justin.png) no-repeat center;
                height: 35px;
                width: 35px;
                margin-right: 10px;
                border-radius: 50%;
                background-size: cover;
            }
        }
    }
}

// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲歷史紀錄▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

.navigation{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    a{
        color: black;
        background-color: transparent; 
        border: 0;
    }
}
// 直播總覽
.effectcontainer{
    clear: both;
}
.allview{
    display: grid;
    grid-template-columns: 545px 1fr;
    grid-template-rows: 381px 282px;
    grid-gap: 30px;
    >div{
        background-color: #fff;
        border-radius: 20px;
         box-shadow:$box-shadow;
        padding: 30px;
    }
    .f1{
        h3{
            color:#cd5d5d;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .timebar{
            i{
                font-size: 16px;
                margin-right: 10px;
                line-height: 16px;
            }
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            color: #24253d;
            border-bottom: 1px solid #e3e3e3;
            margin-bottom: 20px;
            input{
                border: 0;
                outline: 0;
            }
        }
        .effect{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 30px;
            p{
                margin: 0;
                color:  #757575;
                font-size: 16px;
            }
            >div{
               span{
                   font-size: 30px;
                   color: #4a4a4a;
                   width: 100px;
                   display:inline-block;
                   margin: 0 10px 0 20px;
               }
            }
        }
    }
    .f2{
        img{
            width: 100%;
            height: 100%;
            padding:0 50px;
            background-color: #000;
        }
        display: grid;
        grid-template-columns: 50% 1fr;
         .orderimg{
            height: 30px;
            width:30px;
            min-width: 30px;
        }
        .ordername{
            flex-wrap: wrap;
        }
    }
    .f4>div{
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
    }
}
.f3{
    position: relative;
    div:nth-of-type(2){
        left: -30px;
    }
    .text{
        // position: absolute;
        p{
            color: #6d565c;
            font-size: 13px;
            margin: 0 0  10px 0 ;
        }
        span{
            color: #6d565c;
            font-size: 30px;
            line-height: 12px;
        }
    }
}
.fbmarster{
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    .fbmarsterimg{
    margin-right: 9px;
    position: relative;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background: url(../../imges/head.jpg) no-repeat  center;
    border-radius: 50%;
    background-size: cover;
    #canvas{
        position: absolute;
        top: -5px;
        left: -5px;
    }
    }
    .fbmasterlittlebox{
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }
    p{
         margin: 0;
         color: #4b4b4b;
         font-size: 12px;
         margin-top: 3px;
    }
    span{
        margin: 0;
         color: #969696;
         font-size: 12px;
         line-height: 12px;
    }
}
.fbmarstercontent{
    max-height: 260px;
    overflow-y: auto;
}
.viewpoint{
    .listcontainer .rightconerbutton{
        margin-bottom: 44px;
    }
}
.allviewgrid{
    display: grid;
    grid-template-columns: 1fr 180px  100px 100px;
    height: 40px;
    background-color: #fe9191;
    color: #fff;
    align-items: center;
    justify-items: center;
    div:nth-of-type(1){
        padding-left: 30px
    }
}
.allviewgridbody{
    background-color: #fff;
    color: #000;
    &:nth-of-type(odd){
        background-color: #f6f6f6;
    }
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲直播總覽▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

// 銷售成效
.saletop{
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    box-shadow:$box-shadow;
    padding: 15px 30px;
    clear: both;
    display: grid;
    grid-template-columns: 1fr 340px 150px;
    margin-bottom: 15px;
    h3{
        color: #cd5d5d;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
    }
    >div,p{
        position: relative;
    }
    input{
        width: 100%;
    }
    p,input{
        
        margin: 0;
        color: #24253d;
        font-size: 16px;
        padding-left: 20px;
        border: 0;
        outline: 0;
    }
    i{
        position: absolute;
        top: 5px;
        left: 0px;
        font-size: 16px;
        line-height: 16px;
    }
}

.sale{
    
    .listgrid{
        padding: 0 20px;
        grid-template-columns: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        >div{
            padding: 0;
            display: flex;
            justify-content: center;     
        }
    }
    .listcontainer .rightconerbutton{
        margin-bottom: 15px;
    }
   .listcontainer .listcontent{
       background-color: #fff;
        padding:0  20px;
        margin-top: 0;
        margin-bottom: 20px;
        box-shadow: none;
        max-height: 220px;
        overflow-y: auto;
        
    }
    .listbody{
        padding: 0;
         border-bottom: 1px solid #e3e3e3;  
         grid-template-rows: 70px;
        >div{
            &:nth-of-type(2){
                display: flex;
                align-items: center;
                >div{
                    height: 40px;
                    width: 40px;
                    background: url('../../imges/justin.png') no-repeat center;
                    margin-right: 10px;
                    background-size: cover;
                }
                color: #363636;
            }
            &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7){
                color: #C0BFC5;
            }
            &:nth-last-of-type(1){
                padding-left: 25px;
            }
        }
    }

    .salebuy{
        grid-template-columns: 1fr 1fr 1fr 1fr 400px;
    }
    .listgrid.salebuy{
        margin-bottom: 10px;
    }
    .listbody.salebuy{
        >div{
            &:nth-last-of-type(1){
                color: #363636;
            }
        }
    }
    
    
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲銷售成效▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

// 所有名單
.relation{
    .editbutton {
        .icon-list::before{
            color: #fff;
        }
        .icon-group::before{
            color:#ffca00;
        }
    }
}
.relationtop{
    margin-bottom: 20px;
    clear: both;
    display: grid;
    grid-template-columns: 350px 1fr  auto auto  auto;
    background-color: #fff; 
    border-radius: 20px;
    padding: 15px 30px;
    align-items: center;
     box-shadow:$box-shadow;
    >div{
        height: 100%;
        border-right: 2px solid #f7f7f7;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        &:nth-last-of-type(1){
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
        &:nth-of-type(2) select{
           font-weight: bold;
        }
        &:nth-of-type(4){
           color: #828282;
           select{
            color: #555555;
            font-weight: bold;
            margin: 0 5px;
           }
        }
        input,select{
            border: 0;
            outline: 0;
        }
        input{
            width: 100%;
            &::placeholder{
                color: #828282;
            }
        }
        p{
            margin:0;
        }
        i{
            margin-right: 10px;
            font-weight: bold;
        }
        i,p,input,select{
            color: #555555;
            font-size: 14px;
            line-height: 32px;
        }
    }
}


.relationgrid{
    
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 250px;
    padding: 15px 25px;
    background-color: #fff; 

    >div{
        cursor: pointer;
        border-right: 1px solid #f7f7f7;
        display: flex;
        justify-content: center;
        &:nth-last-of-type(1){
            border: 0;
        }
        i{
            font-size: 14px;
            line-height: 22px;
            padding-left: 10px;
        }
    }
    select{
        color: #555555;
        font-weight: bold;
        font-size: 14px;
        border: 0;
        outline: 0;
    }
}
.relationcontent{
    padding: 0 30px;
    background-color: #fff;
    max-height: 400px ;
    overflow-y: auto;

    &::-webkit-scrollbar-track
        {	border-radius: 10px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
        	width: 12px;
        	background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            border: 2px solid #f6f6f6;
        	background-color: #fff;
        }
}
.relationbody{
    border-bottom: 1px solid  #ececec;
    padding-right: 0;
    padding-left: 0;
    >div{
        border: 0;
        &:nth-of-type(1){
            display: flex;
            align-items: center;
            .imgbox{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: url(../../imges/justin.png) no-repeat center;
                background-size: cover;
                margin-right: 10px;
            }
        }
        &:nth-last-of-type(1){
            padding-left: 16px;
        }
    }
}


// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲所有名單▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲

// 新進名單
.newlist{
    .relationtop{
        grid-template-columns: 250px auto auto auto 1fr auto;
        align-items: center;
        >div{
            align-items: center;
        }
    }
    .relationgrid{
         grid-template-columns: 1fr 1fr 1fr 1fr  250px;
    }
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲新進名單▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲
// 特殊名單

.special{
    .relationtop{
        padding: 15px 20px;
        width: 100%;
        grid-template-columns: 1fr 120px 120px  1fr 1fr 70px;

        >div{
            padding: 0;
            &:nth-of-type(4){
                position: relative;
                i{
                    position: absolute;
                    left: 10px;
                }
                input{
                    text-align: center;
                    padding-left: 15px;
                }
            }
        }
    }
    .change{
        >p{
        margin-top: 50px;
        font-weight: bold;
        }
        input::placeholder{
            color: #505050;
        }
    }
}
.specialaddcontent{
    clear: both;
    display: grid;
    grid-template-columns: 230px 1fr;
    
    grid-column-gap: 30px;
}

.addnewlist{
    cursor: pointer;
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    p{
        margin: 0;
        font-size: 14px;
        color: #828282;
    }
    i{
        font-size: 20px;
        margin-right: 20px;
        margin-bottom: 1px;
    }
    .change>p{
        margin-top: 50px;
    }
}


// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲特殊名單▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲
// 登入
.login{
 

    max-width: 325px;
    margin: 100px auto 0;
    
}
.memebertext{
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px  solid #979797;
    margin-bottom: 40px;
    h3{
        font-size: 28px;
        text-align: center;
    }
    span{
        display: inline-block;
        text-align: center;
        font-size: 14px;
        width: 100%;
       
    }
    a{
        text-decoration: none;
        color: #f0c018;
         margin-left: 5px;
    }
}
.logininput{
    position: relative;
    display: flex;
    margin-bottom: 15px;
    p{
        font-size: 14px;
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
    input{
        width: 100%;
        border: 0;
        outline: 0;
        background-color:#eaeaea; 
        height: 50px;
        padding: 15px;
    }
}
.remeber{
    display: flex;
    justify-content: space-between;
    span{
        font-size: 12px;
    }
    margin-bottom: 40px;
}
.loginbutton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 35px;
    width: 200px;
    height:50px;
    background-color: #ff9620;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}
.otherlogin{
   padding-top: 30px;
   border-top: 1px solid #979797;
   >div{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 50px;
    margin-bottom: 5px; 
    border: 2px solid #fff;
    color:white;
    &:nth-of-type(1){
        background-color: #00b902;
        &::after{
            content: "";
            position: absolute;
            height: 5px;
            width: 1px;
            background: #000;
            right: -3px;
            bottom: -3px;
        }
        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 5px;
            background: #000;
            right:-3px;
            bottom:-3px;
        }
        
    }
    &:nth-of-type(2){
        background-color:#3e5a98;
        
         &::after{
            content: "";
            position: absolute;
            height: 5px;
            width: 1px;
            background: #000;
            right: -3px;
            bottom: -3px;
        }
        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 5px;
            background: #000;
            right:-3px;
            bottom:-3px;
        }
    }
   }
   .span1{
            position: absolute;
            height: 1px;
            width: 5px;
            left: -3px;
            top: -3px;
            background-color: #000;
        }
        .span2{
            position: absolute;
            height: 5px;
            width: 1px;
            left: -3px;
            top: -3px;
            background-color: #000;
        }
}
// ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲登入▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲ ▲