@charset "UTF-8";
* {
  font-family: "微軟正黑體", "Microsoft JhengHei",arial,sans-serif;
  font-size: 1vw;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.icon-warning {
  font-family: 'icomoon' !important;
}

.icon-warning .path1, .icon-warning .path2 {
  font-family: 'icomoon' !important;
}

p {
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 525px 1fr;
      grid-template-columns: 525px 1fr;
}

.buyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buyer .topinfomation {
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 6px 20px 0 #f2f2f2;
          box-shadow: 0 6px 20px 0 #f2f2f2;
  z-index: 9;
}

.bar {
  max-width: 90px;
  margin: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bar .imgbox {
  padding: 20px;
  background-color: #000;
}

.bar .imgbox div {
  height: 50px;
  width: 50px;
  background: url("../../imges/justin.png") no-repeat center;
  border-radius: 50%;
  background-size: cover;
}

.bar .menu {
  background-color: #ffca00;
  height: 100%;
}

.bar .menu > div {
  position: relative;
  text-align: center;
  margin: 18px 0;
}

.bar .menu i {
  font-size: 30px;
}

.bar .menu span {
  display: inline-block;
  position: absolute;
  background-color: #ff0000;
  color: #fff;
  height: 15px;
  width: 15px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 50%;
}

.button {
  cursor: pointer;
  word-break: keep-all;
  background-color: #dedcdb;
  padding: 20px;
  text-align: center;
}

.button.active {
  background-color: #ff8f00;
  color: #ffffff;
}

.itemcontent {
  padding: 20px;
  overflow-y: auto;
}

.album {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.album .swiper-container {
  margin: 0;
}

.album .gallery-top, .album .gallery-top-2 {
  max-width: 270px;
  width: 100%;
}

.album .gallery-top .swiper-slide, .album .gallery-top-2 .swiper-slide {
  width: 100%;
  height: 250px;
  background-color: #ff8f00;
}

.album .gallery-top .swiper-slide img, .album .gallery-top-2 .swiper-slide img {
  height: 100%;
  width: 100%;
}

.album .gallery-thumbs, .album .gallery-thumbs-2 {
  max-width: 85px;
  width: 100%;
  max-height: 250px;
}

.album .gallery-thumbs .swiper-slide, .album .gallery-thumbs-2 .swiper-slide {
  width: 100%;
  height: 250px;
  background-color: #ff8f00;
}

.album .gallery-thumbs .swiper-slide img, .album .gallery-thumbs-2 .swiper-slide img {
  height: 100%;
  width: 100%;
}

.context .itemname {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.pricecontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

.pricecontent span {
  display: inline-block;
  margin-right: 5px;
}

.pricecontent span i {
  text-decoration: line-through;
  font-style: normal;
}

.pricecontent p {
  margin: 0;
  font-size: 18px;
  color: #ff0000;
  font-weight: bold;
}

.itemintro {
  color: #707070;
}

.buyermessage {
  height: 45vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buyermessage .fbcontent {
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buyermessage .personbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.buyermessage .personbox .imgbox {
  width: 40px;
  height: 40px;
  background-color: #ff8f00;
  border-radius: 50%;
  margin-right: 5px;
  background: url("../../imges/head.jpg") no-repeat center;
  background-size: cover;
}

.buyermessage .fbtextbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 30px;
}

.buyermessage .fbtextbox p {
  margin: 0;
}

.buyermessage .fbtextbox a {
  font-weight: bold;
  color: #416090;
  text-decoration: none;
  margin-right: 5px;
}

.messagebox {
  height: 55px;
  background-color: #e0e2e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.messagebox .imgbox {
  height: 100%;
  max-width: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.messagebox .imgbox > div {
  margin: auto 0;
  max-height: 40px;
  height: 100%;
  max-width: 40px;
  width: 100%;
  background: url("../../imges/justin.png") no-repeat center;
  border-radius: 50%;
  background-size: cover;
}

.messagebox .typebox {
  width: 100%;
  margin: 0 10px;
}

.messagebox .typebox input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 50px;
  padding: 8px 15px;
}

.video {
  width: 100%;
  height: 100%;
  background: url("../imges/lady.jpg") no-repeat center;
  background-size: cover;
  position: relative;
}

.video img {
  width: 100%;
  height: 100%;
}

.video .timecoount {
  float: right;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 50px 50px 0 0;
}

.video .timecoount span {
  color: #ff0000;
  font-weight: bold;
  margin-right: 10px;
}

.video .livealarm {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
}

.video .livealarm span:nth-of-type(1) {
  background-color: #ec4340;
  color: white;
  letter-spacing: 6px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.video .livealarm p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  color: #585858;
  width: 100%;
}

.video .livealarm .fa-eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  color: #696969;
}

.video .livealarm .fa-eye::before {
  margin: 2px 5px 0 0;
}

.previously > span {
  color: #747474;
  display: inline-block;
}

.previously .imgbox {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  width: 100%;
  position: relative;
}

.previously .imgbox img {
  height: 100%;
  width: 100%;
}

.previously .imgbox a:hover p {
  opacity: 1;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.previously .imgbox p {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.58);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.previously .previouslybox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #979797;
}

.previously .textbox {
  margin-left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.previously .textbox p {
  margin-bottom: 5px;
}

.previously .textbox p:nth-of-type(1) {
  font-size: 1.1vw;
  font-weight: bold;
  margin-bottom: 20px;
}

.previously .textbox p:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  font-weight: bold;
  font-size: 1.1vw;
  color: #ff0000;
  margin-bottom: 0;
}

.topinfo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topinfo a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  background-color: #ff8f00;
  padding: 4px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.topinfo span {
  color: #747474;
  font-size: 14px;
}
/*# sourceMappingURL=buypart.css.map */