@charset "UTF-8";
body {
  font-family: "微軟正黑體", "Microsoft JhengHei",arial,sans-serif;
  font-size: 14px;
}

.drp-calendar.right {
  width: unset;
  background-color: #fff;
}

.drp-calendar.right > div {
  margin: 0;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gamecontent .typetimestart, .gamecontent .typetimeend, .gamecontent .typetimeclean {
  width: 88px;
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
}

.gamecontent .typetimestart {
  background-color: #cc7373;
  right: 191px;
}

.gamecontent .typetimeend {
  background-color: #323232;
  right: 98px;
}

.gamecontent .typetimeclean {
  background-color: #7aacc2;
  right: 5px;
}

.container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.menubar {
  position: relative;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menubar img {
  width: 225px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 100px;
  left: -65px;
}

.menubar span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2px;
  width: 20px;
  display: block;
  position: absolute;
  background-color: #000;
  top: 260px;
}

.menubar span::after {
  content: "";
  height: 2px;
  width: 20px;
  top: 4px;
  display: block;
  position: absolute;
  background-color: #000;
}

.topbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 345px;
      grid-template-columns: 140px 345px;
  background: #ffca00;
  height: 65px;
}

.userphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userphoto div {
  border-radius: 50%;
  background-color: #fff;
  background: url(../../imges/head.jpg) no-repeat center;
  background-size: cover;
  height: 35px;
  width: 35px;
}

.editbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.editbutton span {
  cursor: pointer;
  border-radius: 50%;
  background-color: #000;
  height: 30px;
  width: 30px;
  margin: 0 25px;
  font-size: 30px;
}

.relative {
  position: relative;
  background-color: #f7f7f7;
}

.editcontent {
  z-index: 9;
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.editcontent > div {
  padding: 20px 30px 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
}

.readyblock {
  border-bottom: 1px solid #999;
  padding-bottom: 14px;
}

.readyblock span {
  border: 1px solid #979797;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 40px;
  font-size: 15px;
  color: #4e4e4e;
}

.readyblock input {
  border: 0;
  outline: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  letter-spacing: 0.17px;
  color: #24253d;
}

::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::-ms-input-placeholder {
  color: black;
  opacity: 1;
}

::placeholder {
  color: black;
  opacity: 1;
}

.mainiput .date {
  position: relative;
  padding: 12px 5px 12px 20px;
}

.mainiput .date::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

.mainiput .date::before {
  color: transparent;
  background: none;
  display: block;
  font-family: 'icomoon';
  content: '\e903';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: #999;
}

.mainiput {
  position: relative;
  margin-top: 12px;
}

.mainiput > i {
  position: absolute;
  right: 10px;
  top: 11px;
  font-size: 18px;
}

.mainiput input {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f2f2f2;
  height: 40px;
  padding: 20px;
}

.mainiput div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: #505050;
}

.mainiput .buttonarea {
  position: relative;
  background-color: #f2f2f2;
  height: 40px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainiput .buttonarea span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  text-align: center;
  color: #bcbcbc;
  font-size: 12px;
}

.mainiput .buttonarea span i {
  font-size: 12px;
  letter-spacing: 0.08px;
  text-align: center;
  color: #bcbcbc;
}

.mainiput .buttonarea span.active {
  color: black;
}

.mainiput .buttonarea span.active i {
  color: black;
}

.mainiput .buttonarea .minititle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainiput .buttonarea s {
  background-color: #ffca00;
  height: 100%;
  width: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.mainiput .buttonarea s.active {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  left: 50%;
}

.maintextarea div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maintextarea span {
  font-size: 12px;
  letter-spacing: 0.08px;
  color: #bcbcbc;
  margin-top: 10px;
}

.maintextarea textarea {
  height: 100px;
  padding: 15px;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f2f2f2;
  resize: none;
  font-size: 14px;
}

.savebutton {
  padding: 18px;
  border: 1px solid #989898;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 20px;
  font-size: 17px;
  color: #6d6d6d;
  cursor: pointer;
  margin-top: 40px;
}

.right {
  width: 100%;
  background-color: #f7f7f7;
}

.right > div {
  margin: 50px 20px 0;
}

.product {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px grey;
          box-shadow: 0px 0px 6px grey;
}

.product > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.17px;
  color: #24253d;
}

.productinfo {
  background-color: #f7f7f7;
  padding: 10px;
  margin-top: 15px;
}

.productgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  -ms-grid-rows: 45px;
      grid-template-rows: 45px;
}

.productgrid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productgrid .disable {
  display: none;
  font-size: 12px;
  color: #505050;
  width: 120px;
}

.productgrid p, .productgrid span {
  margin: 0;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productgrid .pl {
  padding-left: 5px;
}

.productgrid input {
  padding-left: 5px;
  height: 30px;
  width: 120px;
  border: 0;
  outline: 0;
  margin: auto;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #505050;
}

.productinfotop {
  position: relative;
  -ms-grid-rows: 20px;
      grid-template-rows: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
}

.productinfotop p {
  color: #24253d;
  font-size: 16px;
}

.productinfotop i {
  width: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  position: absolute;
  right: 0;
}

.productbutton {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px;
      grid-template-columns: 1fr 70px;
  grid-column-gap: 8px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.productbutton span {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #ff9620;
  border-radius: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.productbutton span:nth-last-of-type(1) {
  background-color: #b31b00;
}

.number {
  position: relative;
}

.number span {
  position: absolute;
  height: 100%;
  font-size: 13px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.number .icon-plus-sign-in-a-black-circle {
  left: 0px;
}

.number .icon-plus-sign-in-a-black-circle::before {
  color: #e0e0e1;
}

.number .icon-plus-sign-in-a-black-circle.hover::before {
  color: #fd5739;
}

.number .icon-mines {
  right: 0px;
}

.number .icon-mines.hover .path1::before {
  color: #fd5739;
}

.number .path2 {
  top: 8px;
  font-size: 16px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number input {
  text-align: center;
}

.productcontent {
  position: relative;
  width: 400px;
  height: 100%;
  margin-left: 35px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productcontent > div {
  margin-right: 5px;
  padding-top: 2px;
  padding-left: 2px;
}

.productcontent .icon-plus-sign-in-a-black-circle {
  cursor: pointer;
  position: absolute;
  right: -20px;
  font-size: 18px;
}

.productcontent .icon-plus-sign-in-a-black-circle::before {
  color: #ff0000;
}

.imgbox {
  height: 88px;
  background-color: orange;
}

.imgbox img {
  width: 100%;
  height: 100%;
}

.productbox {
  outline: 1px solid #ececec;
}

.productbox.active {
  outline-width: 2px;
  outline-color: red;
}

.productbox.active2 {
  outline-width: 2px;
  outline-color: #ffca00;
}

.contentbox {
  margin-bottom: 10px;
  padding: 15px 10px;
}

.contentbox p, .contentbox span {
  line-height: 12px;
  margin: 0;
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.contentbox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentbox .contenttitle {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

.game {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px 35px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px grey;
          box-shadow: 0px 0px 6px grey;
}

.game h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.17px;
  color: #24253d;
  margin-bottom: 15px;
}

.gamebox {
  max-width: 200px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px 15px;
  margin-right: 10px;
}

.gameready {
  position: relative;
}

.gameready span {
  display: block;
  text-align: center;
  width: 50px;
  color: #fff;
  font-size: 12px;
  padding: 0px;
  border-radius: 50px;
  background-color: #b31b00;
}

.gameready .live {
  background-color: #ff9620;
}

.gameready .end {
  background-color: #cec9c9;
  color: black;
}

.gameready div {
  float: right;
}

.gametitle {
  margin-top: 10px;
}

.gametitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #24253d;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.gamegrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 100px;
      grid-template-columns: 70px 100px;
  -ms-grid-rows: 35px;
      grid-template-rows: 35px;
  margin-bottom: 5px;
}

.gamegrid input {
  border: 0;
  outline: 0;
  font-size: 12px;
  padding-left: 10px;
}

.gamegrid span {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.emo img {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.emo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 12px;
}

.ready {
  visibility: hidden;
}

.gamewidth {
  width: 640px;
}

.gamecontent {
  position: relative;
}

.gamecontent > span {
  cursor: pointer;
  position: absolute;
  right: -15px;
  font-size: 18px;
}

.gamecontent > span::before {
  color: #ff0000;
}

.mainbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.mainbutton div {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  padding: 20px 55px;
  border-radius: 50px;
  margin: 0 5px;
  color: #fff;
  background-color: #ff9620;
}

.mainbutton div:nth-last-of-type(1) {
  background-color: #b31b00;
}

.newitem {
  padding: 44px 60px;
}

.newitem > p {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.newitem > span {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

.newitem .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newitem .select select {
  width: 175px;
  margin-right: 13px;
  outline: 0;
  border: 0;
  background-color: #ececec;
  padding: 8px 15px;
}

.newitem .select input {
  outline: 0;
  border: 0;
  background-color: #ececec;
  padding: 8px 15px;
}

.mdbody {
  margin-top: 10px;
  padding: 20px;
  border: solid 1px #ececec;
}

.mdgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.itembox {
  height: 90px;
  border: solid 1px #ececec;
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.itembox .itemimg {
  background-color: olive;
}

.itembox .itemimg img {
  width: 100%;
  height: 100%;
}

.itembox .itemtext {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itembox .itemtext p {
  font-size: 14px;
  margin: 0;
  padding: 0 0 5px 16px;
}

.itembox .itemtext span {
  padding: 0 0 2px 16px;
  font-size: 12px;
}

.strat {
  max-width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.strat p {
  font-size: 26px;
  font-weight: bold;
}

.strat span {
  text-align: center;
  font-size: 100px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.strat .stratbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.strat .stratbutton div {
  cursor: pointer;
  margin: 3px;
  font-size: 18px;
  color: #fff;
  padding: 12px 45px;
  background-color: #ff9620;
  border-radius: 50px;
  margin-bottom: 50px;
}

.strat .stratbutton div:nth-last-of-type(1) {
  background-color: #b31b00;
}

.gamemodal {
  margin: 40px 50px;
}

.gamemodeltitle p {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
}

.gamemodeltitle select {
  margin-top: 6px;
  border: 0;
  outline: 0;
  background-color: #ececec;
  padding: 8px 20px;
  color: #24253d;
}

.gamebutton {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 7px;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  margin-top: 30px;
}

.gamebutton > div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  font-size: 18px;
  color: #fff;
  background-color: #ff9620;
}

.gamebutton > div:nth-last-of-type(1) {
  background-color: #b31b00;
}

.t1, .t4 {
  cursor: pointer;
  top: 45%;
  z-index: 9;
  position: absolute;
  right: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #909090;
}

.t4 {
  right: -22px;
}

.t2, .t3 {
  cursor: pointer;
  top: 45%;
  z-index: 9;
  position: absolute;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 15px 7.5px 0px;
  border-color: transparent  #909090 transparent  transparent;
}

.swiper-button-disabled {
  visibility: hidden;
}

.gamecontentbase span {
  display: block;
  font-size: 14px;
  color: #505050;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.43);
}

.gamecontentbase .option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr;
      grid-template-columns: 80px 1fr;
  margin-bottom: 6px;
}

.gamecontentbase .option p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin: 0;
  color: #505050;
}

.gamecontentbase .option input {
  border: 0;
  outline: 0;
  background-color: #ececec;
  font-size: 12px;
  color: #505050;
  padding: 10px;
}

.gamecontentbase .gametext p {
  font-size: 14px;
  color: #505050;
  margin-bottom: 5px;
}

.gamecontentbase .gametext textarea {
  resize: none;
  background-color: #ececec;
  font-size: 12px;
  color: #000000;
  padding: 15px 20px;
  height: 70px;
  width: 100%;
  border: 0;
  outline: 0;
}

.gamecontentbase .emotion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 7px;
  grid-column-gap: 45px;
}

.gamecontentbase .emotion div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamecontentbase .emotion div input {
  width: 100%;
  margin-left: 10px;
  border: 0;
  outline: 0;
  background-color: #ececec;
  font-size: 12px;
  color: #505050;
  padding: 10px;
}

.gamecontentbase .emotion div img {
  height: 23px;
  width: 23px;
  margin-right: 12px;
}

.gamecontent_1, .gamecontent_2, .gamecontent_3, .gamecontent_4 {
  display: none;
}

.mr {
  margin-right: 6px;
}

.container {
  max-width: 1350px;
}

.icon-pencil, .icon-cancel-button {
  cursor: pointer;
}

.livebutton {
  display: none;
}

.fbcontent {
  background-color: #fff;
  padding-top: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 350px 50px;
      grid-template-rows: 350px 50px;
}

.fbcontent .fbgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 185px;
      grid-template-columns: 1fr 185px;
}

.fbcontent .fbiframe {
  width: 100%;
  position: relative;
}

.fbcontent .fbiframe img {
  width: 100%;
  height: 100%;
}

.fbcontent .fbiframe a {
  position: absolute;
  text-decoration: none;
  color: gray;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  bottom: 15px;
  right: 5px;
}

.fbcontent .fbiframe a:hover {
  color: black;
}

.fbcontent .fborder {
  max-height: 350px;
  overflow-y: auto;
}

.fbcontent .fborder > p {
  font-size: 12px;
  color: #24253d;
  text-decoration: none;
  margin: 5px 0px;
  text-align: center;
}

.fbcontent .fborder > p i {
  font-size: 12px;
  color: white;
  background-color: #fe5d5d;
  padding: 2px 8px;
  border-radius: 50%;
  margin: 0 5px;
}

.fbheadphote {
  margin: 0 10px 0 25px;
  height: 36px;
  width: 47px;
  background: url("../../imges/head.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.fbmessage {
  height: 50px;
  width: 100%;
  background-color: #e0e2e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fbmessage .message {
  padding: 6px 25px;
  font-size: 12px;
  color: #505050;
  border-radius: 50px;
  border: 0;
  outline: 0;
  height: 32px;
  width: 100%;
  margin-right: 30px;
}

.livecentent {
  position: absolute;
  left: 0;
  height: calc( 100% - 50px);
  position: relative;
}

.livecentent > div {
  padding: 7px 0px 20px 9px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
}

.livecentent::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  border-top: 0;
}

.livecentent header {
  background-color: #fe9191;
}

.livecentent header div {
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
}

.livecentent header div:nth-of-type(1) {
  margin-left: 30px;
}

.livecentent main {
  max-height: 250px;
  overflow-y: auto;
}

.livecentent main::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.livecentent main::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.livecentent main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.livecentent main > div {
  background-color: #f6f6f6;
}

.livecentent main > div:nth-of-type(odd) {
  background-color: #fff;
}

.livecentent main > div > div {
  padding: 12px 0;
}

.livecentent footer {
  padding: 18px 38px;
  background-color: #fff;
}

.livecentent footer div {
  text-align: center;
  width: 100%;
  font-size: 17px;
  color: #6d6d6d;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #989898;
  border-radius: 30px;
  letter-spacing: 20px;
}

.livecentent main .buygrid > div:nth-of-type(1) {
  margin-left: 30px;
}

.livecentent .buyListEdit > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livecentent .buyListEdit i {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buygrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.productinfotop {
  grid-column-gap: 25px;
}

.productinfotop span {
  display: none;
  font-size: 12px;
  color: #fff;
  width: 70px;
  text-align: center;
  padding: 2px 8px;
  border-radius: 50px;
  background-color: #ff0000;
}

.productbutton div {
  display: none;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  padding: 8px;
  width: 100%;
  background-color: #73a3dd;
  border-radius: 10px;
  text-align: center;
}

.imgbox {
  position: relative;
}

.imgbox span {
  display: none;
  font-size: 12px;
  color: #fff;
  width: 70px;
  text-align: center;
  padding: 2px 8px;
  border-radius: 50px;
  background-color: #ff0000;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.ordermessage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.ordermessage .orderbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ordermessage .ordername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.ordermessage .ordername p {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: #24253d;
}

.ordermessage .ordername a {
  text-decoration: none;
  margin-right: 2px;
}

.ordermessage .ordertype {
  margin-left: 5px;
  height: 20px;
  font-size: 12px;
  color: white;
  background-color: #b31b00;
  padding: 2px 12px;
  border-radius: 50px;
  line-height: 18px;
}

.ordermessage .ordertype.succes {
  background-color: #ff9620;
}

.ordermessage .bigfan {
  font-size: 12px;
  display: block;
  padding: 0 0px 12px 5px;
  position: relative;
}

.orderimg {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: url(../../imges/head.jpg) no-repeat center;
  border-radius: 50%;
  background-size: cover;
}

.remind {
  display: none;
  white-space: nowrap;
  position: relative;
  font-size: 12px;
  letter-spacing: 0.09px;
  color: #747474;
}

.remind i {
  left: -25px;
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #fe5d5d;
  padding: 0px 5px;
  border-radius: 50%;
  margin: 0 5px;
}

.startbody .productbutton div.timeend {
  background-color: #c62424;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.change > span {
  text-align: center;
  display: block;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.change > p {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.22px;
  text-align: center;
  color: #000000;
  margin: 0 0 20px 0;
}

.change .changeedit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.change .changeedit > div {
  position: relative;
}

.change .changeedit p {
  margin: 0 20px 0px 0;
  font-size: 12px;
  color: #505050;
}

.change .changeedit input, .change .changeedit select {
  text-align: center;
  width: 165px;
  border: 0;
  outline: 0;
  background-color: #ececec;
  color: #505050;
  padding: 10px 15px;
}

.change .changeedit span {
  position: absolute;
  font-size: 20px;
  line-height: 45px;
}

.change .changeedit .icon-plus-sign-in-a-black-circle {
  left: 5px;
}

.change .changeedit .icon-plus-sign-in-a-black-circle::before {
  color: #e0e0e1;
}

.change .changeedit .icon-plus-sign-in-a-black-circle.hover::before {
  color: #fd5739;
}

.change .changeedit .icon-mines {
  top: 0;
  right: 5px;
}

.change .changeedit .icon-mines .path1 {
  right: 0;
}

.change .changeedit .icon-mines .path2 {
  top: 10px;
  right: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.change .changeedit .icon-mines.hover .path1::before {
  color: #fd5739;
}

.change .changebutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 30px;
}

.change .changebutton div {
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  padding: 6px 40px;
  background-color: #b31b00;
}

.change .changebutton div:nth-of-type(1) {
  background-color: #ff9620;
}

.change .changebutton span {
  font-size: 15px;
}

.startbody .productinfotop span {
  display: inline-block;
}

.startbody .productbutton {
  margin: 10px 0 15px 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.startbody .productbutton div {
  display: block;
}

.startbody .productbutton span {
  display: none;
}

.startbody .livebutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.startbody .endbutton {
  display: none;
}

.startbody .livecentent::after {
  display: none;
}

.startbody .enable {
  display: none;
}

.startbody .disable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.startbody .remind {
  display: block;
}

.nama .editbutton .icon-plus-sign-in-a-black-circle::before {
  color: white;
}

.nama .editbutton .icon-list::before {
  color: #ffca00;
}

.nama .left {
  position: relative;
}

.nama .relative {
  position: absolute;
  left: 90px;
}

.nama .listcontainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.nama .listcontainer .rightconerbutton {
  float: right;
  margin-top: 40px;
  margin-bottom: 80px;
}

.nama .listcontainer .listsearchbar {
  margin-bottom: 35px;
}

.nama .listcontainer .listcontent {
  margin-top: 15px;
  overflow-y: auto;
  max-height: 485px;
  -webkit-box-shadow: 0px 0px 5px #c9c9c9;
          box-shadow: 0px 0px 5px #c9c9c9;
}

.nama .listcontainer .listcontent::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.nama .listcontainer .listcontent::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.nama .listcontainer .listcontent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.rightconerbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rightconerbutton div {
  cursor: pointer;
  color: black;
  padding: 10px 20px;
  width: 185px;
  height: 60px;
  margin: 0 5px;
  background: #fff;
  border: 1px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
}

.rightconerbutton div.active {
  background-color: #e17777;
  color: white;
}

.listsearchbar {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px #c9c9c9;
          box-shadow: 0px 0px 8px #c9c9c9;
  padding: 30px 55px;
}

.listsearchbar .fa-search {
  font-size: 22px;
  margin-right: 20px;
}

.listsearchbar input {
  height: 30px;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: #828282;
  border-right: 2px solid #ececec;
}

.listsearchbar input::-webkit-input-placeholder {
  color: #828282;
}

.listsearchbar input:-ms-input-placeholder {
  color: #828282;
}

.listsearchbar input::-ms-input-placeholder {
  color: #828282;
}

.listsearchbar input::placeholder {
  color: #828282;
}

.listsearchbar p {
  position: relative;
  margin: 0;
  color: #828282;
  font-size: 20px;
  padding-left: 60px;
}

.listsearchbar p .icon-calendar-with-a-clock-time-tools {
  position: absolute;
  left: 20px;
  font-size: 25px;
  bottom: 2px;
  cursor: pointer;
}

.listgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 170px 170px 170px  1fr;
      grid-template-columns: 1fr 170px 170px 170px  1fr;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px #c9c9c9;
          box-shadow: 0px 0px 5px #c9c9c9;
}

.listgrid > div {
  margin: 30px 0;
  color: #555555;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #cacaca;
}

.listgrid > div:nth-of-type(1) {
  text-align: left;
  padding-left: 50px;
}

.listgrid > div:nth-last-of-type(1) {
  border: 0;
  text-align: left;
  padding-left: 20px;
}

.listbody {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #ececec;
}

.listbody p {
  margin: 0;
}

.listbody div {
  border: 0;
}

.listbody div:nth-of-type(3), .listbody div:nth-of-type(2) {
  color: #ececec;
}

.listbody div:nth-of-type(4) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.listbody div:nth-last-of-type(1) {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history .listgrid {
  -ms-grid-columns: 1fr  170px 170px 170px 170px  1fr;
      grid-template-columns: 1fr  170px 170px 170px 170px  1fr;
}

.history .listbody .icon-list::before {
  color: #9b9a9a;
}

.history .listbody div {
  color: black;
}

.history .listbody div:nth-of-type(3), .history .listbody div:nth-of-type(5) {
  color: #ececec;
}

.history .listbody div:nth-of-type(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history .listbody div .imgbox {
  background: url(../../imges/justin.png) no-repeat center;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: cover;
}

.navigation {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation a {
  color: black;
  background-color: transparent;
  border: 0;
}

.effectcontainer {
  clear: both;
}

.allview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 545px 1fr;
      grid-template-columns: 545px 1fr;
  -ms-grid-rows: 381px 282px;
      grid-template-rows: 381px 282px;
  grid-gap: 30px;
}

.allview > div {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 8px gray;
          box-shadow: 0 0 8px gray;
  padding: 30px;
}

.allview .f1 h3 {
  color: #cd5d5d;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.allview .f1 .timebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #24253d;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.allview .f1 .timebar i {
  font-size: 16px;
  margin-right: 10px;
  line-height: 16px;
}

.allview .f1 .timebar input {
  border: 0;
  outline: 0;
}

.allview .f1 .effect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 30px;
}

.allview .f1 .effect p {
  margin: 0;
  color: #757575;
  font-size: 16px;
}

.allview .f1 .effect > div span {
  font-size: 30px;
  color: #4a4a4a;
  width: 100px;
  display: inline-block;
  margin: 0 10px 0 20px;
}

.allview .f2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
}

.allview .f2 img {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  background-color: #000;
}

.allview .f2 .orderimg {
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.allview .f2 .ordername {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allview .f4 > div {
  overflow-y: auto;
  height: 100%;
}

.allview .f4 > div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.allview .f4 > div::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.allview .f4 > div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.f3 {
  position: relative;
}

.f3 div:nth-of-type(2) {
  left: -30px;
}

.f3 .text p {
  color: #6d565c;
  font-size: 13px;
  margin: 0 0  10px 0;
}

.f3 .text span {
  color: #6d565c;
  font-size: 30px;
  line-height: 12px;
}

.fbmarster {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fbmarster .fbmarsterimg {
  margin-right: 9px;
  position: relative;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  background: url(../../imges/head.jpg) no-repeat center;
  border-radius: 50%;
  background-size: cover;
}

.fbmarster .fbmarsterimg #canvas {
  position: absolute;
  top: -5px;
  left: -5px;
}

.fbmarster .fbmasterlittlebox {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.fbmarster p {
  margin: 0;
  color: #4b4b4b;
  font-size: 12px;
  margin-top: 3px;
}

.fbmarster span {
  margin: 0;
  color: #969696;
  font-size: 12px;
  line-height: 12px;
}

.fbmarstercontent {
  max-height: 260px;
  overflow-y: auto;
}

.viewpoint .listcontainer .rightconerbutton {
  margin-bottom: 44px;
}

.allviewgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 180px  100px 100px;
      grid-template-columns: 1fr 180px  100px 100px;
  height: 40px;
  background-color: #fe9191;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.allviewgrid div:nth-of-type(1) {
  padding-left: 30px;
}

.allviewgridbody {
  background-color: #fff;
  color: #000;
}

.allviewgridbody:nth-of-type(odd) {
  background-color: #f6f6f6;
}

.saletop {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  padding: 20px 50px;
  clear: both;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px 150px;
      grid-template-columns: 1fr 300px 150px;
  margin-bottom: 25px;
}

.saletop h3 {
  color: #cd5d5d;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.saletop > div, .saletop p {
  position: relative;
}

.saletop input {
  width: 100%;
}

.saletop p, .saletop input {
  margin: 0;
  color: #24253d;
  font-size: 16px;
  padding-left: 20px;
  border: 0;
  outline: 0;
}

.saletop i {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 16px;
  line-height: 16px;
}

.sale .listgrid {
  padding: 0 20px;
  -ms-grid-columns: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 200px 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale .listgrid > div {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale .listcontainer .rightconerbutton {
  margin-bottom: 30px;
}

.sale .listcontainer .listcontent {
  background-color: #fff;
  padding: 0  20px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-height: 220px;
  overflow-y: auto;
}

.sale .listbody {
  padding: 0;
  border-bottom: 1px solid #e3e3e3;
  -ms-grid-rows: 70px;
      grid-template-rows: 70px;
}

.sale .listbody > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
}

.sale .listbody > div:nth-of-type(2) > div {
  height: 50px;
  width: 50px;
  background: url("../../imges/justin.png") no-repeat center;
  margin-right: 10px;
  background-size: cover;
}

.sale .listbody > div:nth-of-type(4), .sale .listbody > div:nth-of-type(5), .sale .listbody > div:nth-of-type(6), .sale .listbody > div:nth-of-type(7) {
  color: #ececec;
}

.sale .listbody > div:nth-last-of-type(1) {
  padding-left: 25px;
}

.sale .salebuy {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 400px;
      grid-template-columns: 1fr 1fr 1fr 1fr 400px;
}

.sale .listgrid.salebuy {
  margin-bottom: 10px;
}

.sale .listbody.salebuy > div:nth-last-of-type(1) {
  color: #363636;
}

.relation .editbutton .icon-list::before {
  color: #fff;
}

.relation .editbutton .icon-group::before {
  color: #ffca00;
}

.relationtop {
  margin-bottom: 20px;
  clear: both;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr  auto auto  auto;
      grid-template-columns: 350px 1fr  auto auto  auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 6px 20px  #ececec;
          box-shadow: 0 6px 20px  #ececec;
}

.relationtop > div {
  height: 100%;
  border-right: 2px solid #f7f7f7;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relationtop > div:nth-last-of-type(1) {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.relationtop > div:nth-of-type(2) select {
  font-weight: bold;
}

.relationtop > div:nth-of-type(4) {
  color: #828282;
}

.relationtop > div:nth-of-type(4) select {
  color: #555555;
  font-weight: bold;
  margin: 0 5px;
}

.relationtop > div input, .relationtop > div select {
  border: 0;
  outline: 0;
}

.relationtop > div input {
  width: 100%;
}

.relationtop > div input::-webkit-input-placeholder {
  color: #828282;
}

.relationtop > div input:-ms-input-placeholder {
  color: #828282;
}

.relationtop > div input::-ms-input-placeholder {
  color: #828282;
}

.relationtop > div input::placeholder {
  color: #828282;
}

.relationtop > div p {
  margin: 0;
}

.relationtop > div i {
  margin-right: 10px;
  font-weight: bold;
}

.relationtop > div i, .relationtop > div p, .relationtop > div input, .relationtop > div select {
  color: #555555;
  font-size: 16px;
  line-height: 32px;
}

.relationgrid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 250px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 250px;
  padding: 30px 25px;
  background-color: #fff;
}

.relationgrid > div {
  border-right: 1px solid #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relationgrid > div:nth-last-of-type(1) {
  border: 0;
}

.relationgrid select {
  color: #555555;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  outline: 0;
}

.relationcontent {
  padding: 0 30px;
  background-color: #fff;
  max-height: 400px;
  overflow-y: auto;
}

.relationcontent::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.relationcontent::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.relationcontent::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f6f6f6;
  background-color: #fff;
}

.relationbody {
  border-bottom: 1px solid  #ececec;
  padding-right: 0;
  padding-left: 0;
}

.relationbody > div {
  border: 0;
}

.relationbody > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relationbody > div:nth-of-type(1) .imgbox {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: url(../../imges/justin.png) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}

.relationbody > div:nth-last-of-type(1) {
  padding-left: 16px;
}

.newlist .relationtop {
  -ms-grid-columns: 250px auto auto auto 1fr auto;
      grid-template-columns: 250px auto auto auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newlist .relationtop > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newlist .relationgrid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr  250px;
      grid-template-columns: 1fr 1fr 1fr 1fr  250px;
}

.special .relationtop {
  padding: 20px;
  width: 100%;
  -ms-grid-columns: 1fr 120px 120px  1fr 1fr 70px;
      grid-template-columns: 1fr 120px 120px  1fr 1fr 70px;
}

.special .relationtop > div {
  padding: 0;
}

.special .relationtop > div:nth-of-type(4) {
  position: relative;
}

.special .relationtop > div:nth-of-type(4) i {
  position: absolute;
  left: 10px;
}

.special .relationtop > div:nth-of-type(4) input {
  text-align: center;
  padding-left: 15px;
}

.special .change > p {
  margin-top: 50px;
  font-weight: bold;
}

.special .change input::-webkit-input-placeholder {
  color: #505050;
}

.special .change input:-ms-input-placeholder {
  color: #505050;
}

.special .change input::-ms-input-placeholder {
  color: #505050;
}

.special .change input::placeholder {
  color: #505050;
}

.specialaddcontent {
  clear: both;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px 1fr;
      grid-template-columns: 230px 1fr;
  grid-column-gap: 30px;
}

.addnewlist {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addnewlist p {
  margin: 0;
  font-size: 20px;
  color: #828282;
}

.addnewlist i {
  font-size: 25px;
  margin-right: 25px;
  margin-bottom: 1px;
}

.addnewlist .change > p {
  margin-top: 50px;
}

.login {
  max-width: 325px;
  margin: 100px auto 0;
}

.memebertext {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px  solid #979797;
  margin-bottom: 40px;
}

.memebertext h3 {
  font-size: 28px;
  text-align: center;
}

.memebertext span {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.memebertext a {
  text-decoration: none;
  color: #f0c018;
  margin-left: 5px;
}

.logininput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.logininput p {
  font-size: 14px;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

.logininput input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #eaeaea;
  height: 50px;
  padding: 15px;
}

.remeber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.remeber span {
  font-size: 12px;
}

.loginbutton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 35px;
  width: 200px;
  height: 50px;
  background-color: #ff9620;
  border-radius: 50px;
  color: #fff;
  text-align: center;
}

.otherlogin {
  padding-top: 30px;
  border-top: 1px solid #979797;
}

.otherlogin > div {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: 2px solid #fff;
  color: white;
}

.otherlogin > div:nth-of-type(1) {
  background-color: #00b902;
}

.otherlogin > div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 1px;
  background: #000;
  right: -3px;
  bottom: -3px;
}

.otherlogin > div:nth-of-type(1)::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 5px;
  background: #000;
  right: -3px;
  bottom: -3px;
}

.otherlogin > div:nth-of-type(2) {
  background-color: #3e5a98;
}

.otherlogin > div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 1px;
  background: #000;
  right: -3px;
  bottom: -3px;
}

.otherlogin > div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 5px;
  background: #000;
  right: -3px;
  bottom: -3px;
}

.otherlogin .span1 {
  position: absolute;
  height: 1px;
  width: 5px;
  left: -3px;
  top: -3px;
  background-color: #000;
}

.otherlogin .span2 {
  position: absolute;
  height: 5px;
  width: 1px;
  left: -3px;
  top: -3px;
  background-color: #000;
}
/*# sourceMappingURL=style.css.map */